.inicio{
    background-color: black;
    color: white;
    text-align: right;
}

.habitaciones{
  margin-left: 200px;
  margin-right: 200px;
}


.barofcolour {
      
  top: 50%;
  left: 50%;
  color: black;
  background-color: black;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  border: 2px;
}